.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("https://images.pexels.com/photos/1074882/pexels-photo-1074882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
  }
  
  .loginTitle {
      font-size: 50px;
      color: #fff;
  }
  
  .loginForm {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  }
  
  .loginForm > label {
      margin: 10px 0;
      color: #fff;
  }
  
  .loginInput {
      padding: 10px;
      background-color: #fff;
      border: none;
  }
  
  .loginButton {
       margin-top: 20px;
       cursor: pointer;
       color: #fff;
       background-color: #000;
       border: none;
       padding: 10px;
  }

  .loginButton:disabled {
    cursor: not-allowed;
    background-color: grey;
  }
  
  .loginRegisterButton {
      position: absolute;
      top: 60px;
      right: 20px;
      border: none;
      color: #fff;
      background-color: #000;
      cursor: pointer;
      padding: 10px;
  }